*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left,#right
{
    width: 300px;
    min-height: 400px;
    border: 2px dashed white;
    margin: 20px;
}
.list
{
    background-color:greenyellow;
    margin: 20px;
    padding: 20px;
    align-items: center;
    display: flex;
    cursor: grab;
}